<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	header{
		width:100%;
		background:#fff;
		border-bottom:1px solid #eee;
	}
	.head{
		width:1200px;
		margin:0 auto;
		border:1px solid #ccc;
	}
	.head-top{
		display:flex;
		justify-content:space-between;
	}
	.head-top .logo img{
		width:100px;
	}
	
	.nav ul{
		display:flex;
		justify-content:center;
		gap:50px;
	}
</style>
</head>
<body>
<header>
	<div class="head">
		<div class="head-top">
			<div class="logo">
				<img src="/img/busan.jpg">
			</div>
			<div>
				<h2>온나부산</h2>
			</div>
			<div>
				검색창
			</div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="">a</a></li>
				<li><a href="">a</a></li>
				<li><a href="">a</a></li>
				<li><a href="">a</a></li>
				<li><a href="">a</a></li>
			</ul>
		</div>
	</div>
</header>
</body>
</html>