<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>새 비밀번호 설정 - 아이디 입력</title>
	<style>
	</style>
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<body>

	<h3>새 비밀번호 세팅을 위해 아이디를 입력해주세요</h3>
	<form action="/enterEmail" method="POST">
		<input type="text" id="username" name="username" placeholder="username" />
		<button type="submit">다음</button>
	</form>
	<script>
	</script>
</body>

</html>