<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>새 비밀번호 설정 - 아이디 입력</title>
<style>
</style>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>

<body>

	<h3>새 비밀번호 세팅을 위해 아이디를 입력해주세요</h3>
	<form name="frm" id="frm">
		<input type="text" id="username" name="username"
			placeholder="username" required />
		<button type="submit">다음</button>
	</form>
	<script>
		document.getElementById('frm').addEventListener(
				'submit',
				function(event) {
					event.preventDefault();
					
					let username = document.getElementById('username').value;
					
					const userData = {
						username : username
					};

					console.log(userData);

					$.ajax({
						type : 'POST',
						url : 'http://localhost:9002/findAdminId',
						data : JSON.stringify(userData), // JSON 문자열로 직접 전송
						contentType : 'application/json', // contentType 설정
						success : function(response) {
							console.log(response);
							
							if(response == username){
								
								window.location.href = "/enterEmail?username=" + username ;
							}
						
						},
						error : function(e) {
							console.log("error : ", e);

						}
					});

				});
	</script>
</body>

</html>