<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인 페이지</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>
<body>

<h1>로그인페이지다</h1>

<form name="frm" onsubmit="submitForm(event)">
	<input type="text" name="username" placeholder="username"/>
	<input type="password" name="password" placeholder="password"/>
	<input type="submit" value="login" />
</form>


<button onclick="requestAdmin()">Admin Page요청하기</button>
<div id="demo2"></div>


<script>
	function submitForm(event){
		event.preventDefault();  // 기본 폼 전송을 막기 위해 필요합니다.
		
		var form = document.forms['frm'];
		var formData = $(form).serialize();
		
		$.ajax({
			type : "POST",
			url : "http://localhost:9002/login",
			contentType: 'application/x-www-form-urlencoded',
			data : formData,
			success : function(data, status, xhr) {
				console.log("success : ", data);
				var headers = xhr.getAllResponseHeaders();
				console.log(headers);
				
				var token = xhr.getResponseHeader("Authorization");
				if (token != null) {
					console.log("JWT Token: " + token.split(" ")[1]);
					localStorage.setItem("Authorization", token.split(" ")[1]);
				} else {
					console.log("Authorization 헤더가 없습니다.");
				}
			},
			error : function(error) {
				console.log("error 발생");
			}
		});
	}
	
	function requestAdmin(){
		const token = localStorage.getItem("Authorization");
		console.log(token);
		$.ajax({
		    type: "GET",
		    url: "http://localhost:9002/admin",
		    headers: {
		        "Authorization": "Bearer " + token // Bearer 토큰 형식을 사용하여 토큰을 포함
		    },
		    success: function(data) {
		        console.log("Success:", data);
		        // 사용자 프로필 등을 처리
		        document.getElementById("demo2").innerHTML = data;
		    },
		    error: function() {
		        console.log("Error가 났어요");
		        // 인증 실패 등의 오류 처리
		    }
		});
	}
</script>
</body>
</html>