<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>
<body>
<header>
        <th:block th:insert="~{/fragments/header2.html}"></th:block>
</header>
<h1>관광지 등록 폼</h1>
<hr>
<form name="frm" enctype="multipart/form-data">
	<input type="text" name="uc_seq" placeholder="관광지 ID...."><br>
	
	<input type="text" name="maintitle" placeholder="ex)관광지 명(한,영,일)...."><br>
	<input type="text" name="title" placeholder="관광지 홍보제목..."><br>
	<input type="text" name="subtitle" placeholder="부제목..."><br>
	<input type="text" name="place" placeholder="ex)관광지 명...."><br>
	관광지 이미지: <input type="file" name="file"><br>
	<input type="text" name="itemcntnts" placeholder="관광지 소개..."><br>
	
	<input type="text" name="addr" placeholder="주소..."><br>
	<input type="text" name="gugun_nm" placeholder="(주소)구 단위..."><br>
	<input type="text" name="tel" placeholder="전화번호..."><br>
	<input type="text" name="homepage_url" placeholder="공란 가능..."><br>
	
	<input type="text" name="usage_day" placeholder="관광지 운영일..."><br>
	<input type="text" name="hldy_info" placeholder="관광지 휴무일..."><br>
	
	<input type="text" name="useageDay_week_and_time" placeholder="운영 및 시간..."><br>
	<input type="text" name="usage_amount" placeholder="이용요금..."><br>
	
	<input type="text" name="middle_size_rm" placeholder="편의시설..."><br>
	<input type="text" name="trfc_info" placeholder="교통정보..."><br>
	
	<span>**경도, 위도 (공란 가능...)**</span><br>
	<input type="text" name="lat" placeholder="경도..."><br>
	<input type="text" name="lng" placeholder="위도..."><br>
	
	<input type="submit" value="등록하기">
</form>

<script>

	$(document).ready(function(){
		$("form").on('submit', function (event){
			event.preventDefault();
			
			var formData = new FormData($(this)[0]);
			
			console.log(formData);
			
			$.ajax({
				url: "http://localhost:9002/kibTest/tour",
				method: "POST",
				data: formData,
				contentType: false,
				processData: false,
				success: function (response){
					alert("관광지 등록이 진행되었습니다.");
					//window.location.href="/kibTest";
					
				},
				error: function (error) {
					console.log("Error: " + error);
				}
			});
		}); 
	});
	
</script>
</body>
</html>