<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>온나부산 - 메인</title>
<style>
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

main {
	flex: 1;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content-header {
	text-align: center;
	margin-bottom: 20px;
}

#weather-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	width: 90%;
	margin-bottom: 20px;
}

.weather-card {
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 10px;
	width: 140px;
	text-align: center;
}

.weather-card h3 {
	margin: 0 0 5px 0;
	font-size: 1.2em;
}

.weather-icon {
	font-size: 1.5em;
}

.weather-temp {
	font-size: 1em;
}

#container, #current-festival-container, #upcoming-festival-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	width: 90%;
}

.tour-item {
	width: 23%;
	box-sizing: border-box;
	text-align: center;
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tour-title {
	font-weight: bold;
	margin: 10px 0;
}

.tour-thumbnail {
	width: 100%;
	height: auto;
	max-width: 250px;
}

.upcoming-label {
	background-color: #ffd700;
	color: #000;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 10px;
	display: inline-block;
}

footer {
	background-color: #f1f1f1;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}

.section-title {
	width: 100%;
	text-align: center;
	font-size: 24px;
	margin: 20px 0;
}

#load {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background: white;
    z-index: 99;
    text-align: center;
}

#load > img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}
</style>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>
<body>

<div id="load">
    <img src="/img/loading.gif" alt="loading">
</div>
<!-- loading.gif -->
	<header>
		<th:block th:insert="~{/fragments/header2.html}"></th:block>
	</header>

	<main>
		<div class="content-header">
			<h1>온나부산에 오신 것을 환영합니다!</h1>
			<p>부산의 모든 것을 만나보세요.</p>
		</div>
		<div id="weather-container" class="weather-container"></div>
		<h2 class="section-title">현 위치 주변 관광지</h2>
		<div id="container"></div>
		<h2 class="section-title">현재 진행 중인 행사</h2>
		<div id="current-festival-container"></div>
		<h2 class="section-title">축제 예정</h2>
		<div id="upcoming-festival-container"></div>
	</main>

	<footer>
		<th:block th:insert="~{/fragments/footer.html}"></th:block>
	</footer>

	<script>

	$(window).on('load', function() { 
		// 로딩 이미지를 3초 후에 숨김
        setTimeout(function() {
            $('#load').fadeOut();
        }, 1000); // 1000ms = 1초
    });
	
    $(document).ready(function() {
    	   	    	
        let tourData = [];
        let festivalData = [];

        // IP 기반 위치 정보를 가져오는 함수
        function getLocationByIP() {
            $.ajax({
                url: "https://ipinfo.io?token=5e87744dae8849", // 여기에서 YOUR_API_TOKEN을 실제 ipinfo.io API 토큰으로 변경하세요.
                type: 'GET',
                success: function(response) {
                    const loc = response.loc.split(',');
                    const lat = parseFloat(loc[0]);
                    const lon = parseFloat(loc[1]);
                    showPosition(lat, lon);
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching IP location:", error);
                }
            });
        }

        getLocationByIP();

        // 부산의 하드코딩된 위도와 경도
        const busanLat = 35.1796;
        const busanLon = 129.0756;

        // 부산의 날씨 정보를 가져오는 함수
        function getBusanWeather() {
            const apiKey = '07ad361c368f829e92fb66148a3a35dc';
            const weatherUrl = `https://api.openweathermap.org/data/2.5/forecast?lat=${busanLat}&lon=${busanLon}&appid=${apiKey}`;

            const weatherMapping = {
                'clear sky': '맑음',
                'few clouds': '맑음',
                'scattered clouds': '맑음',
                'broken clouds': '흐림',
                'overcast clouds': '흐림',
                'light rain': '비',
                'moderate rain': '비',
                'heavy intensity rain': '비',
                'shower rain': '비',
                'rain': '비',
                'thunderstorm': '비',
                'snow': '눈',
                'mist': '안개',
                'fog': '안개',
                'haze': '안개',
                'smoke': '안개',
                'dust': '안개',
                'sand': '안개',
                'ash': '안개',
                'squalls': '비',
                'tornado': '비'
            };

            const weatherIcons = {
                '맑음': '☀️',
                '흐림': '☁️',
                '비': '🌧️',
                '눈': '❄️',
                '안개': '🌫️'
            };

            fetch(weatherUrl)
                .then(response => response.json())
                .then(data => {
                    const weatherForecast = data.list;
                    const weatherContainer = document.getElementById('weather-container');
                    let content = '';

                    const days = {};

                    weatherForecast.forEach(forecast => {
                        const date = forecast.dt_txt.split(' ')[0];
                        const tempMin = (forecast.main.temp_min - 273.15).toFixed(2);
                        const tempMax = (forecast.main.temp_max - 273.15).toFixed(2);
                        const description = forecast.weather[0].description;
                        const simplifiedDescription = weatherMapping[description] || '맑음';
                        const icon = weatherIcons[simplifiedDescription] || '☀️';

                        if (!days[date]) {
                            days[date] = {
                                tempsMin: [],
                                tempsMax: [],
                                descriptions: new Set(),
                                icons: new Set()
                            };
                        }
                        days[date].tempsMin.push(parseFloat(tempMin));
                        days[date].tempsMax.push(parseFloat(tempMax));
                        days[date].descriptions.add(simplifiedDescription);
                        days[date].icons.add(icon);
                    });

                    for (const [date, data] of Object.entries(days)) {
                        const minTemp = Math.min(...data.tempsMin).toFixed(2);
                        const maxTemp = Math.max(...data.tempsMax).toFixed(2);
                        const icon = Array.from(data.icons).join(' ');

                        content += `
                            <div class="weather-card">
                                <h3>${date}</h3>
                                <div class="weather-icon">${icon}</div>
                                <div class="weather-temp">최저: ${minTemp}°C<br>최고: ${maxTemp}°C</div>
                            </div>
                        `;
                    }

                    weatherContainer.innerHTML = content;
                })
                .catch(error => console.error('Error fetching weather data:', error));
        }

        getBusanWeather();

        function showPosition(lat, lon) {
            $.ajax({
                url: "http://localhost:9002/kibTest/tourList",
                type: 'GET',
                success: function(response) {
                    tourData = response;
                    tourData.forEach(item => {
                        item.distance = calculateDistance(lat, lon, item.latitude, item.longitude);
                    });
                    tourData.sort((a, b) => a.distance - b.distance);
                    const nearestTours = tourData.slice(0, 8);
                    renderTours(nearestTours);
                },
                error: function(xhr, status, error) {
                    console.error("Error loading tours:", error);
                }
            });

            $.ajax({
                url: "http://localhost:9002/khj/festival",
                type: 'GET',
                success: function(response) {
                    console.log("축제 데이터:", response);
                    festivalData = response;
                    processFestivals(festivalData);
                    
                    
                    //테스트
                    console.log(Array.isArray(response)); // 배열인지 아닌지 확인하는 코드. true이면 response가 배열 형태이다.
                    console.log("받아온 축제데이터 속 endDate: " + response[0].endDate); // 배열의 첫번째 객체에서 endDate를 가지고 온다.
                    //console.log("받아온 축제데이터 속 endDate" + response.endDate); // 이렇게 하면 undefined가 나온다.

                    
                },
                error: function(xhr, status, error) {
                    console.error("Error loading festivals:", error);
                }
            });
        }

        function calculateDistance(lat1, lon1, lat2, lon2) {
            const R = 6371;
            const dLat = deg2rad(lat2 - lat1);
            const dLon = deg2rad(lon2 - lon1);
            const a =
                Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                Math.sin(dLon / 2) * Math.sin(dLon / 2);
            const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            const d = R * c;
            return d;
        }

        function deg2rad(deg) {
            return deg * (Math.PI / 180);
        }

        function processFestivals(festivals) {
            const upcomingFestivals = [];

            festivals.forEach(festival => {
                // festival로 접근
                // usageDayWeekAndTime, endDate 둘다 사용가능 
                const usageDayWeekAndTime = festival.usageDayWeekAndTime;
                console.log('usageDayWeekAndTime:', festival.usageDayWeekAndTime);
                console.log("endDate:", festival.endDate);
                
                if (!usageDayWeekAndTime) {
                    return; // 날짜 정보 없음
                }
                if (usageDayWeekAndTime.includes('취소')) {
                    return; // 취소된 축제 무시
                }
                if (usageDayWeekAndTime.includes('예정') && upcomingFestivals.length < 2) {
                    upcomingFestivals.push(festival);
                    console.log("예정된 축제 추가:", festival);
                }
            });
            renderFestivals(upcomingFestivals, '#upcoming-festival-container', true);
        }

        function renderTours(tours) {
            $('#container').empty();
            tours.forEach(item => {
                const tourItem = `
                    <div class="tour-item">
                        <div class="tour-title">${item.title}</div>
                        <a href="/tourDetail?uc_seq=${item.uc_seq}">
                            <img class="tour-thumbnail" src="${item.main_img_thumb}" alt="${item.title}">
                        </a>
                    </div>
                `;
                $('#container').append(tourItem);
            });
        }

        function renderFestivals(festivals, containerId, isUpcoming = false) {
            $(containerId).empty();
            festivals.forEach(item => {
                const festivalItem = `
                    <div class="tour-item">
                        <div class="tour-title">${item.title}</div>
                        <a href="/festivalDetail?uc_seq=${item.ucSeq}">
                            <img class="tour-thumbnail" src="${item.mainImgThumb}" alt="${item.title}">
                        </a>
                        ${isUpcoming ? '<div class="upcoming-label">축제 예정</div>' : ''}
                    </div>
                `;
                $(containerId).append(festivalItem);
            });
        }
    });
</script>

</body>
</html>
