<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<header>
        <th:block th:insert="~{/fragments/header2.html}"></th:block>
</header>
<h1>공지</h1>
<button class="hiddenButton" style="display: none;" id="addButton" onclick="goAddPage(event)">등록하기</button>
<table border="1">
	<thead>
		<tr>
			<th>글번호</th>
			<th>제목</th>
			<th>작성일</th>
		</tr>
	</thead>
	<tbody id="noticeTableBody">
	
	</tbody>
</table>
  <footer>
    <th:block th:insert="~{/fragments/footer.html}"></th:block>
  </footer>
<script>
	
	$(document).ready(function(){
		
		var authValue = localStorage.getItem("Authorization");
		if(authValue != null){
			$(".hiddenButton").css("display", "block");
			
		}
		
		console.log("noticeList...........");
		
		$.ajax({
			url: 'http://localhost:9002/khj/noticeList',
			method: 'GET',
			success: function(response){
				
				console.log("찾아온 공지사항 데이터 " , response);
				
				// 공지사항 데이터를 테이블에 추가
				
				let noticeTableBody = $('#noticeTableBody');
				
				response.forEach(function(notice){
					// 날짜 형식을 YYYY.MM.DD로 변경
					
					let formattedDate = notice.regDate.replace(/-/g, '.');
					
					let row = `
						<tr>
							<td>${notice.hnum}</td>
							<td><a href="/notice/noticeDetail?hnum=${notice.hnum}">${notice.title}</a></td>
							<td>${formattedDate}</td>
						</tr>
					`;
					
					noticeTableBody.append(row);
				});
				
			},
			error: function(error){
				console.error("공지사항 데이터를 불러오는 데 실패했습니다 : ", error);
			}
		});
		
	});
	
	function goAddPage(){
		
		window.location.href="/noticeAdd";
		
		
	}
</script>



</body>
</html>