<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Geolocation Test</title>
</head>
<body>
	<h1>Geolocation Test</h1>
	<hr>
	<button onclick="f()">실행</button>
	<div>
		Latitude : <span id='Lat'></span>
	</div>
	<script>
		function f(){
			if (navigator.geolocation){
				navigator.geolocation
						.getCurrentPosition(
								function(position){
									document.getElementById('Lat').innerText = position.coords.latitude;
									console.log("Latitude : "
											+ position.coords.latitude);
									console.log("Longitude : " + position.coords.longitude);
								}, function(error){
									console.error("Error Code = " + error.code
											+ " - " + error.message);
								});
						
			} else{
				console.log("Geolocation is not supported by this browser.");
			}
		}
	</script>
</body>
</html>
