<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>
<body>
<h1>부산 관광지</h1>
<hr>
<input type="button" value="검색" onclick="find()">

<div id="container"></div>

<script>
	
	$(document).ready(function(){
        $.ajax({
            url: "http://localhost:9002/kibTest/tourList",
            type: 'GET',
            
            success: function(response) {
                console.log(response);
                console.log(response[0].maintitle);
            },
            error: function(xhr, status, error) {
                console.error("Error: " + error);
            }
        });
	});
</script>
</body>
</html>