<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Reset Password</title>
</head>
<body>
    <form id="reset-password-form">
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Send Reset Password Email</button>
    </form>

    <script>
        document.getElementById('reset-password-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const email = document.getElementById('email').value;
            
            	fetch('http://localhost:9002/send-reset-password', 
            	{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('Reset password email sent! UUID: ' + data.uuid);
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to send reset password email.');
            });
        });
    </script>
</body>
</html>