<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
	<style>
		.heart-button {
			background-color: transparent;
			border: none;
			cursor: pointer;
			outline: none;
			padding: 0;
			width: 50px;
			height: 50px;
		}
		
		.photo-thumbnail{
		width: 250px;
		height: 200px;
		}
		
		.photo-item {
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 10px;
			text-align: center;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
		
		.photo-item img{
			max-width: 100%;
	        height: auto;
	        border-radius: 5px;
	        max-height: 150px; /* 사진 전체 크기 줄이기 */
		}
	
	</style>
</head>
<body>
<header>
        <th:block th:insert="~{/fragments/header2.html}"></th:block>
</header>
<h1>부산 관광홍보 사진</h1>
<button class="hiddenbutton" onclick="addPhoto()" style="display: none;">사진추가</button>
<hr>

<div id="container"></div>
<div class="pagination"></div>
  <footer>
    <th:block th:insert="~{/fragments/footer.html}"></th:block>
  </footer>
<script>

	$(document).ready(function(){
		
		var authValue = localStorage.getItem("Authorization");
		if(authValue != null){
			$(".hiddenbutton").css("display", "block");
		}
		
		const itemsPerPage = 12;
		let currentPage = 1;
		let PhotoData = [];
		
		$.ajax({
			url: "http://localhost:9002/kibTest/photo",
			method: "GET",
			success: function(response){
				PhotoData = response;
				console.log(PhotoData);
				
				renderPage(currentPage);
                renderPagination(PhotoData.length, itemsPerPage);
			},
			error: function(error){
				console.log("error: " + error);
			}
		});
		
		function renderPage(page){
			$('#container').empty();
        	
        	const start = (page - 1) * itemsPerPage;
        	const end = start + itemsPerPage;
        	const items = PhotoData.slice(start, end);
        	
        	items.forEach(item => {
        		let photoItem = `
        			<div class="photo-item">
        				<img class="photo-thumbnail" src="${item.main_img_thumb}" alt="${item.maintitle}"><br>
        				<span id="photo_title">${item.title}</span><br>
        				<span class="infoTitle">촬영연도: </span> <span class="info">${item.shoot_year}</span><br>
        				<span class="infoTitle">제공: </span> <span class="info">${item.shooter}</span><br>
        				<span class="infoTitle">소장기관: </span> <span class="info">${item.have_agency}</span><br>
        				<span class="infoTitle">해쉬태그: </span> <span class="info">${item.hashtag}</span><br>
        		`;
        		
        		if (authValue != null) {
					photoItem += `
						<button class="hiddenbutton" onclick="modifyPhoto(${item.pno})">수정하기</button><br>
						<button class="hiddenbutton" onclick="deleteThisPhoto(${item.pno})">삭제하기</button>
					`;
				}
        		
        		photoItem += `</div>`;
        		
        		$('#container').append(photoItem);
        	});
		}
		
		function renderPagination(totalItems, itemsPerPage){
        	$('.pagination').empty();
            const totalPages = Math.ceil(totalItems / itemsPerPage);
                	
            const prevButton = `<button onclick="changePage(${currentPage - 1})" ${currentPage === 1 ? 'disabled' : ''}>&laquo;</button>`;
            $('.pagination').append(prevButton);
                	
            for(let i = 1; i <= totalPages; i++){
               const pageButton = `<button onclick="changePage(${i})" ${i === currentPage ? 'disabled' : ''}>${i}</button>`;
            $('.pagination').append(pageButton);
            }
                	
            const nextButton = `<button onclick="changePage(${currentPage + 1})" ${currentPage === totalPages ? 'disable' : ''}>&raquo;</button>`;
            $('.pagination').append(nextButton);
		}
		
		window.changePage = function(page){
        	if(page < 1 || page > Math.ceil(PhotoData.length / itemsPerPage)) return;
        	currentPage = page;
        	renderPage(currentPage);
        	renderPagination(PhotoData.length, itemsPerPage);
        }
		
		
		
	});
	
	
	function modifyPhoto(pno){
		window.location.href="/modi_photo?pno=" + pno;
	}
	
	function deleteThisPhoto(pno){
		if(confirm("이 게시글을 삭제하시겠습니까?") == true){
			console.log("아이디 확인: " + pno);
			
			const token = localStorage.getItem("Authorization");
			console.log("토큰: " + token);
			
			$.ajax({
				url: "http://localhost:9002/kibTest/photo/" + pno,
				method: "DELETE",
				headers: {
					"Authorization" : "Bearer " + token
				},
				success: function(response){
					
					alert(response);
					window.location.href="/photoList";
				},
				error: function(xhr, error, status) {
					console.log("Error: " + error);
				}
			});
		} else {
			alert("삭제 취소함.");
		}
	}
	
	function addPhoto(){
		window.location.href="/regi_photo";
	}
	
</script>
</body>
</html>